.chart-options {
    .chart-option {
        float: left;
        margin: 15px 10px 0 0;
        -moz-box-shadow: inset 0px 1px 0px 0px #9fb4f2;
        -webkit-box-shadow: inset 0px 1px 0px 0px #9fb4f2;
        box-shadow: inset 0px 1px 0px 0px #9fb4f2;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
        background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
        background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
        background-color: #7892c2;
        border-radius: 6px;
        border: 1px solid #4e6096;
        cursor: pointer;
        color: #FFF;
        font-size: 15px;
        font-weight: bold;
        padding:6px 24px;
        text-shadow:0px 1px 0px #283966;
        &.chart-type {
            &.disabled {
                cursor: default;
                -moz-box-shadow: inset 0px 1px 0px 0px #FFF;
                -webkit-box-shadow: inset 0px 1px 0px 0px #FFF;
                box-shadow: inset 0px 1px 0px 0px #FFF;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFF), color-stop(1, #F6F6F6));
                background: -moz-linear-gradient(top, #FFF 5%, #F6F6F6 100%);
                background: -webkit-linear-gradient(top, #FFF 5%, #F6F6F6 100%);
                background: -o-linear-gradient(top, #FFF 5%, #F6F6F6 100%);
                background: -ms-linear-gradient(top, #FFF 5%, #F6F6F6 100%);
                background: linear-gradient(to bottom, #FFF 5%, #F6F6F6 100%);
                background-color: #FFF;
                border-radius: 6px;
                border: 1px solid #DCDCDC;
                color: #666666;
                font-size: 15px;
                font-weight: bold;
                padding: 6px 24px;
                text-shadow: 0px 1px 0px #FFF;
            }
        }
    }
}

.modal-box {
    height: 0;
}

.content {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    margin: auto;
    padding: 30px 20px;
    vertical-align: middle;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 5px 10px rgba(0, 0, 0, .15);
    background: #fff;
}

.toggle-on {
    display: none;
    &:checked + .toggle-off + .content {
        z-index: 1;
    }
    &:checked + .toggle-off {
        opacity: 1;
        -webkit-transition: .4s ease-in, .3s z-index ease-in;
        -moz-transition: .4s ease-in, .3s z-index ease-in;
        -o-transition: .4s ease-in, .3s z-index ease-in;
        transition: .4s ease-in, .3s z-index ease-in;
        z-index: 1;
    }
    &:checked + .toggle-off + .modal-inner {
        opacity: 1;
        -webkit-transition: .4s ease;
        -moz-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease;
    }
}

.toggle-off {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0, 0, 0, .15);
    z-index: -1;
    -webkit-transition: .6s ease-out, 1s z-index ease-out;
    -moz-transition: .6s ease-out, 1s z-index ease-out;
    -o-transition: .6s ease-out, 1s z-index ease-out;
    transition: .6s ease-out, 1s z-index ease-out;
}

.toggle-button {
    position: relative;
    top: 20px;
    display: inline-block;
    padding: 6px 24px;
    color: #FFF;
    font-size: 15px;
    border-radius: 4px;
    background: #1ecd97;
    -webkit-transition: .24s ease;
    -moz-transition: .24s ease;
    -o-transition: .24s ease;
    transition: .24s ease;
    cursor: pointer;
}

.modal-inner {
    opacity: 0;
    -webkit-transition: .4s ease, 1s z-index ease;
    -moz-transition: .4s ease, 1s z-index ease;
    -o-transition: .4s ease, 1s z-index ease;
    transition: .4s ease, 1s z-index ease;
}

